button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    /*width:100%;
    height:auto;*/
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
}