body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    letter-spacing: 0.03em;
}

:root {
    --main-background-color: #2f303a;
    --main-text-color: #757575;
    --accent-color: #2196f3;
}